<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/fragments :: header('Students')"></head>

<body>
<div th:replace="fragments/fragments :: menu"></div>

<div class="container-lg">
    <h4>Students:
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newModal">Add NEW
        </button>
    </h4>
    <div th:replace="fragments/students-frags :: students"></div>
    <div th:replace="fragments/students-frags :: student-new"></div>
</div>
</body>
</html>
