<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
    <div class="container-lg">
        <h1>Students:</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Student</th>
                    <th scope="col">Group</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="student: ${students}">
                    <td>
                        <a th:href="@{|/students/${student.id}|}"
                           th:text="| ${student.firstName} ${student.lastName} |"></a>
                    </td>
                    <td>
                        <a th:href="@{|/groups/${student.group.id}|}" th:text="|  ${student.group.name} |"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
