<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/fragments :: header"></head>

<body>
<div th:replace="fragments/fragments :: menu"></div>

<div class="container-lg">
    <h1>Students:</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Student</th>
            <th scope="col">Group</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student: ${students}">
            <td>
                <a th:href="@{/students/info/(id=${student.id})}"
                   th:text="| ${student.firstName} ${student.lastName} |"></a>
            </td>
            <td th:unless="${student.group}==null">
                <a th:href="@{/groups/info/(id=${student.group.id})}" th:text="| ${student.group.name} |"></a>
            </td>
            <td th:if="${student.group}==null">
                Not assigned
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
