<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/fragments :: header"></head>

<body>
<div th:replace="fragments/fragments :: menu"></div>

<div class="container-lg">
    <h1 th:text="|${student.firstName} ${student.lastName}|"></h1>
    <p>Group:
        <a th:unless="${student.group}==null"
           th:href="@{/groups/info/(id=${student.group.id})}" th:text="| ${student.group.name}|"></a>
    <i th:if="${student.group}==null">Not assigned</i>
    </p>
</div>
</body>
</html>