<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/fragments :: header('Teachers')"></head>

<body>
<div th:replace="fragments/fragments :: menu"></div>

<div class="container-lg">
    <h1>Teachers:</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Teacher</th>
            <th scope="col">Course</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teacher: ${teachers}">
            <td>
                <a th:href="@{/teachers/info/(id=${teacher.id})}"
                   th:text="| ${teacher.firstName} ${teacher.lastName} |"></a>
            </td>
            <td>
                <a th:href="@{/courses/info/(id=${teacher.course.id})}" th:text="| ${teacher.course.name} |"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
