<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Fox-University</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>

<body>
<div class="container-lg"  style="background-color: #ffc966">
    <h1>Fox-University</h1>
    <h3>From Fox with love</h3>
    <div class="row-" style="height: 30px">
        <div class="col-md-4  col-md-offset-2 ">
            <a href="/foxUniversity/courses/">Courses</a>
            <a href="/foxUniversity/groups/">Groups</a>
            <a href="/foxUniversity/students/">Students</a>
            <a href="/foxUniversity/teachers/">Teachers</a>
            <a href="/foxUniversity/timetable/">Timetable</a>
        </div>
    </div>
</div>
</body>

</html>