<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${course.name}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
<div class="container-lg">
    <h1 th:text="${course.name}"></h1>
    <p th:text="${course.description}"></p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Our teachers:</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="teacher: ${teachers}">
                <td>
                    <a th:href="@{|/teachers/${teacher.id}|}" th:text="|${teacher.firstName} ${teacher.lastName}|"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>

